<!DOCTYPE html>
<html>
    <title>AB - Architects</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="w3.css">
<body>
    <%- include ('tiles/navbar') %>
    <%- include('tiles/header') %>

    <div class="w3-content w3-padding" style="max-width: 1564px;">
        <%- include ('tiles/products') %>
        <%- include ('tiles/about') %>
        <%- include ('tiles/contact') %>
    </div>
    <%- include ('tiles/footer') %>
</body>
</html>