<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a href="<%= root %>" class="w3-bar-item w3-button">
            <b><%= generalInfo.companyNameShort %></b>
                <%= generalInfo.companyNameLong %>
        </a>
        <div class="w3-right w3-hide-small">
            <a href="<%= root %>#products" class="w3-bar-item w3-button">Products</a>
            <a href="<%= root %>#about" class="w3-bar-item w3-button">About</a>
            <% if (logged){ %>
                <a href="<%= root %>logout" class="w3-bar-item w3-button w3-text-red">Logout</a>
            <% } else { %>
                <a href="<%= root %>login" class="w3-bar-item w3-button w3-text-red">Login</a>
            <% } %>
        </div>
    </div>
</div>