<div class="w3-container w3-padding-32" id="products">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Products</h3>
</div>

<% for (var i = 0; i < products.length; ++i) {
    var product = products[i]
    var isBeginRow = i % 4 == 0
    var isEndRow = (i % 4 == 3) || (i == products.length - 1)

    if (isBeginRow) { %>
        <div class="w3-row-padding">
    <% } %> 

    <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
            <div class="w3-display-topleft w3-black w3-padding"><%= product.name %></div>
            <img src="images/products/<%= product.id%>.jpg" alt="<%= product.name %>" style="width:100%">
            <% if (logged) {%>
            <div class="w3-display-bottomright w3-row" style="width:100%">
                <a class="w3-half w3-button w3-blue" href="<%= root %>edit-product?id=<%= product.id %>">Edit</a>
                <a class="w3-half w3-button w3-red" href="<%= root %>delete-product?id=<%= product.id %>"
                    onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
            </div>
            <% } %>
        </div>
    </div>


    <% if (isEndRow) { %>
        </div>
    <% } %>
<% } %>       

<% if (logged) { %>
<div class="w3-padding">
    <a class="w3-button w3-green w3-right" title="Add product" href = "<%= root %>add-product">+</a>
</div>
<% } %>
